config.json
config.php
data/database.sqlite
data/update-cache.json
data/plugins.json
data/installed.json
data/updates.json
data/ratelimit/
data/sessions/
data/logs/
.user.ini

uploads/

.kilo/

/lang/*.php
!/lang/en.json
!/lang/it.json

/plugins/*
!/plugins/hellobored
/plugins/*/

/themes/*
!/themes/freshbored
/themes/*/

RELEASE_NOTES.md

EMAIL_INVIE.md
