config.php
data/database.sqlite
data/update-cache.json

.kilo/

/lang/*.php
!/lang/en.php

/plugins/*
!/plugins/bellbored
!/plugins/editbored
!/plugins/hellobored
/plugins/*/

/themes/*
!/themes/freshbored
/themes/*/
